
<nav class="navbar-default"><!-- Création de la barre de navigation en haut à gauche de la page -->
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li><!-- Lien vers les pages existantes -->
      <li routerLinkActive="active"><a routerLink="vehicules">Vehicules</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet><!-- router-outlet permet d'afficher le composant actuellement actif -->
</div>






